<!--Crea un Markdown con las especificaciones del proyecto las especificaciones del proyecto-->
   <% @documento = Documento.find(3)%>
   <span id="markdown_area">
   <div id="elementId" class= "well">
      <%a=creaMD(@documento.titulo,@documento.razon,@documento.tiempo,@documento.precio,@documento.costo,@documento.estado)%>
      <%= markdown(a) %>
   </div>
   </span>