<!--Crea un Markdown con las especificaciones del proyecto las especificaciones del proyecto-->
   <span id="markdown_area">
   <div id="elementId" class= "well">
      <%@a=creaMD(titulo,razon,tiempo,precio,costo,estado)%>
      <%= markdown(@a) %>
   </div>
   </span>