<footer class="footer">
  <small>
    Proyecto Mundo Feliz | Desarrollado por <a href="https://github.com/aivaco/Proyecto-Mundo-Feliz/watchers">Crazy Rails</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/aivaco/Proyecto-Mundo-Feliz">GitHub</a></li>
    </ul>
  </nav>
</footer>