<header class="navbar navbar-fixed-top navbar-inverse">
    
  <div class="container">
    
   <a id="nombre_proyecto" href="home">Mundo Feliz</a>

  
  <%= render 'layouts/menus/menu_user' %>
  
  </div>


</header>