<header class="navbar navbar-fixed-top navbar-inverse">
    
  <div class="container">
    
   <a id="nombre_proyecto" href="home">Mundo Feliz</a>

    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Iniciar Sesión", login_path  %></li>
            <li><%= link_to "Registrarse", "#"  %></li>
        </ul>
    </nav>
    
  
  </div>


</header>