<header class="navbar navbar-fixed-top navbar-inverse">
    
  <div class="container">
    
<%= link_to "Mundo Feliz", login_path, id: "nombre_proyecto"   %>

    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Iniciar Sesión", login_path  %></li>
            <li><%= link_to "Registrarse", signup_path  %></li>
        </ul>
    </nav>
    
  
  </div>


</header>