<header class="navbar navbar-fixed-top navbar-inverse">

    <div class="container">
    
<<<<<<< HEAD
    <%= link_to "Mundo Feliz", "/home", id: "nombre_proyecto"   %>
=======
    <%= link_to "Mundo Feliz", "/", id: "nombre_proyecto"   %>
>>>>>>> b894b37f12599c68e1face019a72772c4d72a954
    
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <%= render 'layouts/menus/menu_user' %>
        </ul>
    </nav>
    
    </div>


</header>