<header class="navbar navbar-fixed-top navbar-inverse">

    <div class="container">
    
    <%= link_to "Mundo Feliz", "/home", id: "nombre_proyecto"   %>
    
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <%= render 'layouts/menus/menu_user' %>
        </ul>
    </nav>
    
    </div>


</header>